body {
    background-image: url('background.jpg');
}

main {
    width: 600px;
    margin: auto;
}

img.otolado {
    float: left;
}

h1 {    
    color: rgb(204, 171, 121);
    font-size: 40pt;
    font-family: 'Enriqueta';
}

h5 {
    color: rgb(0, 0, 0);
    font-family: 'Enriqueta';
    float: right;
    font-size: 15pt;
}

p {
    color: rgb(255, 255, 255);
    font-size: 30pt;
    font-family: 'Enriqueta';
    float: right;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 30pt;
    font-family: 'Enriqueta';
    float: right;
}

img.lado {
    float: left;
}