@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('background.jpg');
    background-attachment: fixed;
}

.container { 
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header header"
                        "aside aside"
                        "posts posts"
                        "footer footer";
    width: 70vw;
    margin-left: 15vw;
}

/*
-- Header
*/

header {
    background: rgba(75, 104, 156, 0);
    height: 25vh;
    grid-area: header;  
}

img.bird {
    float: left;
    margin-top: 40px;
}

p.titulo {    
    color: #F4D8A8;
    font-size: 2.5em;
    font-family: 'Enriqueta',serif;
}

p.titulo a{
    text-decoration: none;
    color: #F4D8A8;
}

.hr1 {
    width: 40vw;
    float: left;
    margin-top: -30px;
    position: absolute;
    border: 0;
    border-top: 1px solid #ffffff93;
}

#mainnav ul li {display: inline-block;}
    
#mainnav ul li a {
    padding: 0px 5vw;
    display: inline-block;

    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom:1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
}
    
#mainnav ul li a:hover {
    background-color: rgb(204, 171, 121);
    color: rgb(255, 255, 255);
}

#mainnav ul {
    margin: 0;
    padding: 0;
    list-style:none;
    font-family: 'Enriqueta',serif;
}

nav {
    display:flex;
    justify-content: center;
}

nav.navmenu ul li a {
    display: block;
    text-align: center;
    line-height: 16.6vh;

    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom:1px solid #ededed9d;
    border-top: 1px solid #ededed9d;
}
    
nav.navmenu ul li a:hover {
    background-color: rgb(204, 171, 121);
    color: rgb(255, 255, 255);
}

nav.navmenu ul {
    padding:0px;
    margin:0px;
    list-style:none;
    font-family: 'Enriqueta',serif;
}

aside{
    margin-top: 0px;
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 0); 
    grid-area: aside;  
}

aside ul li {
    display: inline-block;
    margin-top: 1vh;
}

aside ul li a {
    padding: 0px 56px;

    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;
}

aside ul li a:hover {
    color: #ccab79;
}

aside ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: 'Enriqueta', serif;
}

aside ul li input[type=text]{
    border-radius: 4px;
    background-color: #4d4d4d5b;
    margin-top: 5px;
    margin-right: 3px;
    padding: 2px;
    color: white;
}

#btnbusca {
    width: 22px;
    height: 22px;
    background-color: #000000a1;
    border-radius: 4px;
    cursor: pointer;
}

#btnbusca:hover {
    background-color: #ccab79;
}

img.search {
    width: 10px;
    height: 10px;
}

footer {
    background: rgba(0, 0, 0, 0.349);
    margin-top: 60px;
    height: 10vh;
    grid-area: footer;
    align-self: flex-end;
}

p.footer {
    color: #ffffffd0;
    text-align: left;
    font-size: 14.7px;
    font-family: 'Enriqueta',serif;
    position: absolute;
    margin-top: 2em;
    margin-left: 6em;
}

img.facebook {
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    margin-left: 1em;
    margin-top: 1.7em;
}

img.instagram {
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    margin-left: 3em;
    margin-top: 1.7em;
}


aside {
    background: rgba(0, 0, 0, 0.562);
    height: 8vh;
    grid-area: aside;
    margin-top: 15px;
}

posts {
    background: rgba(0, 0, 0, 0.562);
    height: auto;
    grid-area: posts;
    margin-top: 15px;
}

.article-box {
    width: 54.5vw;
    background-color: rgba(0, 0, 0, 0.568);
    border: 1px solid rgba(255, 255, 255, 0.493);
    margin: 25px;
    padding: 80px;
}

img.giovanna {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: absolute;
    margin-left: -50px;
    margin-top: -5px;
}

p.article-date1 a {
    color: white;
    margin-left: 50px;
    text-decoration: none;
}

p.article-date1 a:hover {
    color: #ccab79;
}

p.article-date2 {
    color: rgba(255, 255, 255, 0.644);
    font-size: 14.7px;
    margin-left: 50px;
    margin-top: -15px;
}

h4.articletitle a {
    font-size: 1.4em;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

h4.articletitle a:hover {
    color: #ccab79;
}

p.article-resume {
    color: white;
    margin-top: -15px;
}

.line_comments {
    border: 0;
    border-top: 1px solid #ffffff63;
    width: 100%;
}

p.comments_number a {
    color: white;
    text-decoration: none;
}

p.comments_number a:hover {
    color: #ccab79;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    float: right;
    margin-top: -77px;
    margin-right: -30px;
  }
  
.love-reaction {
background: url(http://i.imgur.com/zw8ahUb.png) no-repeat 0 0;
display: inline-block;
width: inherit;
height: inherit;
}

[type="checkbox"]:checked + .love-reaction {
transition: background .8s steps(28);
background-position: -2800px 0;
}

[type="checkbox"] {
opacity: 0;
cursor: pointer;
position: absolute;  
width: 100%;
height: 100%;
}



@media (min-width:1366px) {
    #checkbox_menu, nav.navmenu {
        display: none;
    }
}