@charset "UTF-8";
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('background.jpg');
    background-attachment: fixed;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header header" "aside aside" "posts posts" "footer footer";
    width: 70vw;
    margin-left: 15vw;
}

/*
-- Header
*/

header {
    height: 25vh;
    grid-area: header;
    
    background: rgba(75, 104, 156, 0);
}

img.bird {
    float: left;
    margin-top: 40px;
}

p.titulo {
    color: #F4D8A8;
    font-size: 2.5em;
    font-family: 'Enriqueta', serif;
}

p.titulo a {
    text-decoration: none;
    color: #F4D8A8;
}

.hr1 {
    width: 40vw;
    float: left;
    margin-top: -30px;
    position: absolute;

    border: 0;
    border-top: 1px solid #ffffff93;
}

#mainnav ul li {
    display: inline-block;
}

#mainnav ul li a {
    padding: 0px 5vw;
    display: inline-block;

    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
}

#mainnav ul li a:hover {
    background-color: rgb(204, 171, 121);
    color: rgb(255, 255, 255);
}

#mainnav ul {
    margin: 0;
    padding: 0;

    list-style: none;
    font-family: 'Enriqueta', serif;
}

nav {
    display: flex;
    justify-content: center;
}

nav.navmenu ul li a {
    display: block;
    text-align: center;
    line-height: 16.6vh;

    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: 1px solid #ededed9d;
    border-top: 1px solid #ededed9d;
}

nav.navmenu ul li a:hover {
    background-color: rgb(204, 171, 121);
    color: rgb(255, 255, 255);
}

nav.navmenu ul {
    padding: 0px;
    margin: 0px;

    list-style: none;
    font-family: 'Enriqueta', serif;
}

aside {
    margin-top: 0px;
    width: 100%;
    height: 10vh;
    grid-area: aside;

    background-color: rgb(0, 0, 0);
}

aside ul li {
    display: inline-block;
    margin-top: 1vh;
}

aside ul li a {
    padding: 0px 1vw;

    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.6vw;
}

aside ul li a:hover {
    color: #ccab79;
}

aside ul {
    padding: 0px;
    margin: 0px;

    list-style: none;
    font-family: 'Enriqueta', serif;
}

aside ul li input[type=text] {
    border-radius: 0.5vw;
    background-color: #4d4d4d5b;
    margin-top: 5px;
    margin-right: 3px;
    padding: 2px;
    width: 14vw;
    height: 1.7vw;

    color: white;
    size: 1.6vw; 
}

#btnbusca {
    width: 2.5;
    height: 2.5vw;

    background-color: #000000a1;
    border-radius: 0.5vw;
    cursor: pointer;
}

#btnbusca:hover {
    background-color: #ccab79;
}

img.search {
    width: 1.2vw;
    height: 1.2vw;
}

footer {
    margin-top: 60px;
    height: 10vh;
    grid-area: footer;
    
    background: rgba(0, 0, 0, 0.349);
    align-self: flex-end;
}

p.footer {position: absolute;
    margin-top: 2em;
    margin-left: 6em;

    color: #ffffffd0;
    text-align: left;
    font-size: 14.7px;
    font-family: 'Enriqueta', serif;
}

img.facebook {
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    margin-left: 1em;
    margin-top: 1.7em;
}

img.instagram {
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    margin-left: 3em;
    margin-top: 1.7em;
}

aside {
    height: 8vh;
    margin-top: 15px;
    grid-area: aside;

    background: rgba(0, 0, 0, 0.562); 
}

posts {
    height: auto;
    margin-top: 15px;
    grid-area: posts;
    
    background: rgba(0, 0, 0, 0.562);
}

.article-box {
    padding: 5vh;
    margin: 2vw;

    background-color: rgba(0, 0, 0, 0.568);
    border: 1px solid rgba(255, 255, 255, 0.493);
}

img.giovanna {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: absolute;
    margin-left: -50px;
    margin-top: -5px;
}

p.article-date1 a {
    margin-left: 50px;

    color: white;
    text-decoration: none;
}

p.article-date1 a:hover {
    color: #ccab79;
}

p.article-date2 {
    margin-left: 50px;
    margin-top: -15px;

    color: rgba(255, 255, 255, 0.644);
    font-size: 14.7px;
    
}

h4.articletitle a {
    margin-top: 10px;

    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

h4.articletitle a:hover {
    color: #ccab79;
}

p.article-resume {
    margin-top: -15px;

    color: white;
}

.line_comments {
    width: 100%;

    border: 0;
    border-top: 1px solid #ffffff63;
}

p.comments_number a {
    color: white;
    text-decoration: none;
}

p.comments_number a:hover {
    color: #ccab79;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    float: right;
    margin-top: -77px;
    margin-right: -30px;
}

.love-reaction {
    background: url(http://i.imgur.com/zw8ahUb.png) no-repeat 0 0;
    display: inline-block;
    width: inherit;
    height: inherit;
}

[type="checkbox"]:checked + love-reaction {
    transition: background .8s steps(28);
    background-position: -2800px 0;
}

[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*Media queries*/

@media (min-width:1366px) {
    #checkbox_menu,
    nav.navmenu,
    nav.aside_opened,
    .menu_aside {
        display: none;
    }
}

@media (max-width:1366px) {
    #checkbox_menu,
    nav.navmenu,
    nav.aside_opened,
    .menu_aside {
        display: none;
    }
}

@media (max-width:1229px) {
    header #mainnav ul li a {
        padding: 0px 4vw;
    }
}

@media (max-width:948px) {
    header #mainnav ul li a {
        padding: 0px 3vw;
    }
}

@media (max-width:767px) {

    /*Menu Principal*/

    #mainnav nav {
        display: none;
    }

    .menu_toogle {
        position: absolute;
        height: 80px;
        width: 40px;
        margin-top: 120px;
        margin-right: 15vw;
        top: 15px;
        right: 0;
    }

    #checkbox_menu {
        opacity: 0;
    }

    label span {
        position: absolute;
        background-color: rgba(199, 199, 199, 0.815);
        height: 4px;
        width: 100%;
        margin: 6px auto;
        cursor: pointer;
        z-index: 10;
        border-radius: 30px;
        transition: 0.25s;
    }

    label span:nth-child(1){
        top:0px;
    }

    label span:nth-child(2){
        top:10px;
    }

    label span:nth-child(3){
        top:20px;
    }

    #checkbox_menu:checked + .menu_toogle {
        height: 80px;
        width: 40px;
        margin-top: 3vh;
        margin-right: 3vw;
        position: fixed;
        z-index: 12;
    }

    #checkbox_menu:checked + .menu_toogle label span:nth-child(1) {
        opacity: 0;
    }

    #checkbox_menu:checked + .menu_toogle label span:nth-child(2) {
        transform:rotate(-45deg);
    }

    #checkbox_menu:checked + .menu_toogle label span:nth-child(3) {
        transform:rotate(45deg);
        top: 10px;
    }

    nav.navmenu {
        padding-top: 16.6vh;
        position: absolute;
        top:0;
        left: -767px;
        width: 100vw;
        height: 100vh;
        background-color: #000000c7;
        transition: 0.25s ease-in-out;
        z-index: 11;
    }

    #checkbox_menu:checked ~ .menu nav.navmenu {
        transform: translateX(767px);
        position: fixed;
        display:block;
    }

}

@media (max-width:556px) {

    .hr1 {
        width: 224px;
    }
    
    /* Menu dos posts */

    aside {
    display: none;
    }

    .menu_aside {      
    width: 100px;
    height: 100px;
    display: inline;
    }
    
    #checkbox_aside{
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: auto;
    }
    
    label {
        opacity: 100;

        color: #EDEDED;
        font-size: 1em;
        font-weight: 600;
        cursor: pointer;
    }

    label:hover {
        color: rgb(204, 171, 121);
    }

    .menu_aside label::after {
        content: ' +';
        transition: transform .3s ease;
    }

    nav.aside_opened {
        position: absolute;
        top:27vh;
        width: 70vw;
        height: 20vh;
        z-index: 9;

        background-color: #000000c7;

        transition: 0.25s ease-in-out;
    }
    
    nav.aside_opened ul li a{
        text-decoration: none;
        color: #EDEDED;
        font-weight: 600;
    }

    nav.aside_opened ul li a:hover {
        background-color: rgb(204, 171, 121);
        color: #fdfdfd;
    }
    
    #checkbox_aside:checked + .menu_opened nav.aside_opened {
        display: block;
        position: fixed;
    }

    #checkbox_aside:checked + .menu_opened label::after {
        position: fixed;
        transform: rotate(45deg) scale(3);
        float: right;
        top: 28.5vh;
        right: 17.5vw;
        z-index: 10;
    }
}


@media (max-width:424px) {
    p.footer {
        margin-top: 5vh;
        font-size: 12px;
    }
}