/*
-- Padrões e Reset
*/

@charset "UTF-8";

body {  	
	margin: 0;  	
	padding: 0;  	
    background-image: url('background.jpg');
    background-attachment: fixed;  
}  
    
main {
    width: 1000px;
    margin: auto;
}

.quadro {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.562);
}

#container {  	
	margin: 1em auto;  	
	width: 100%;  	
	background-color: rgba(255, 255, 255, 0);  
}  

/*
-- Header
*/

img.bird {
    float: left;
}

p.titulo {    
    color: rgb(223, 197, 158);
    font-size: 30pt;
    font-family: 'Enriqueta',serif;
}

p.titulo a{
    text-decoration: none;
    color: rgb(223, 197, 158);
}

.hr1 {
    width: 400px;
    float: left;
    margin-top: -30px;
    position: absolute;
    border: 0;
    border-top: 1px solid #ffffff93;
}

#header {background: rgba(204, 255, 51, 0);} 

/*
-- Mainnav
*/

#mainnav ul li { display: inline; }
    
#mainnav ul li a {
    padding: 2px 80px;
    display: inline-block;

    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom:1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
}
    
#mainnav ul li a:hover {
    background-color: rgb(204, 171, 121);
    color: rgb(255, 255, 255);
}

#mainnav ul {
    padding:0px;
    margin:0px;
    list-style:none;
    font-family: 'Enriqueta',serif;
}

/*
-- Sidebar
*/

div.sidebar {
    margin-top: 30px;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.829); 
}

body .sidebar ul li {
    display: inline-block;
    margin-top: 15px;
}

body .sidebar ul li a {
    padding: 0px 56px;

    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;
}

body .sidebar ul li a:hover {
    color: #ccab79;
}

body .sidebar ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: 'Enriqueta', serif;
}

body .sidebar ul li input[type=text]{
    border-radius: 4px;
    background-color: #4d4d4d5b;
    margin-top: 5px;
    margin-right: 3px;
    padding: 2px;
    color: white;
}

#btnbusca {
    width: 22px;
    height: 22px;
    background-color: #000000a1;
    border-radius: 4px;
}

#btnbusca:hover {
    background-color: #ccab79;
}

img.search {
    width: 10px;
    height: 10px;
}

/*
-- Contents
*/

#contents  {  
    margin: 1em auto;		
	width: 800px;  	
	background: rgba(153, 255, 204,     0);  	
}

        /*Início*/

    img.drummond {
        float: left;
        padding: 20px;
        margin-right: 80px;
    }

    p.p1frase {
        color: rgb(98, 176, 221);
        margin-right: 0px;
        font-size: 47pt;
        font-family: 'Enriqueta',serif;
    }

    p.p2frase {
        color: rgb(255, 255, 255);
        margin-top: -75px;
        font-size: 47pt;
        font-family: 'Enriqueta',serif;
    }

    p.autor {
        margin-left: 650px;
        margin-top: -50px;
        color: rgb(255, 255, 255);
        font-family: 'Enriqueta',serif;
        font-size: 18pt;
        float: left;
        text-align: left;
    }

    .bordas {
        position: absolute;
        margin-top:25px;
        margin-left: -75px;
        width: 950px;
        height: 265px;
        border-top: 1px solid #edededd0;
        border-bottom:1px solid     #edededd0;
    }

    p.welcome {
        color: rgb(255, 255, 255);
        font-size: 23pt;
        font-family: 'Enriqueta',serif;
        text-align: center;
        text-transform: uppercase;
        margin-top: 70px;
    }

    div.welcome {
        position: absolute;
        margin-top: 300px;
        margin-left: 162.5px;
    }

    img.simbolo {
        width: 150px;
        height: 50px;
        margin-left: 160px;
        margin-top: -50px;
    }

        /*Pensamentos transcritos*/

        section.posts {
        width: 65%;
        text-align: justify;
        }

        .article-box {
            width: 100%;
            padding: 3% 10%;
        }

        h4.articletitle a {
            text-decoration: none;
            font-family: 'Enriqueta',serif;
            font-size: 13pt;
            color: white;
        }

        h4.articletitle: {
            font-family: 'Enriqueta',serif;
            font-size: 13pt;
            color: white;
        }

        p.article-date {
            font-family: 'Enriqueta',serif;
            color: white;
        }

        p.article-resume {
            font-family: 'Enriqueta',serif;
            color: white;
        }

/*
-- Footer
*/

#footer  {  	
	clear: both; 	
	background: rgba(0, 0, 0, 0);
    font: 'Enriqueta',serif;
    color: white;
}  

p.footer {
    color: #ffffffd0;
    text-align: left;
    font-size: 11pt;
    font-family: 'Enriqueta',serif;
    position: absolute;
    margin-top: 18px;
    margin-left: 100px;
}

img.facebook {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 20px;
    margin-top: 13px;
}

img.instagram {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 50px;
    margin-top: 13px;
}  
.quadrofooter {
    margin-top: 60px;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.349);
}