@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('background.jpg');
    background-attachment: fixed;
}

.container { 
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header header"
                        "texto texto"
                        "forms forms"
                        "footer footer";
    width: 70vw;
    margin-left: 15vw;
}

/*
-- Header
*/

header {
    height: 25vh;
    grid-area: header;  
    
    background: rgba(75, 104, 156, 0);
}

img.bird {
    float: left;
    margin-top: 40px;
}

p.titulo {    
    color: #F4D8A8;
    font-size: 2.5em;
    font-family: 'Enriqueta',serif;
}

p.titulo a{
    text-decoration: none;
    color: #F4D8A8;
}

.hr1 {
    width: 40vw;
    float: left;
    margin-top: -30px;
    position: absolute;

    border: 0;
    border-top: 1px solid #ffffff93;
}

#mainnav ul li {display: inline-block;}
    
#mainnav ul li a {
    padding: 0px 5vw;
    display: inline-block;

    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom:1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
}
    
#mainnav ul li a:hover {
    background-color: rgb(204, 171, 121);
    color: rgb(255, 255, 255);
}

#mainnav ul {
    margin: 0;
    padding: 0;
    list-style:none;
    font-family: 'Enriqueta',serif;
}

nav {
    display:flex;
    justify-content: center;
}

nav.navmenu ul li a {
    display: block;
    text-align: center;
    line-height: 16.6vh;

    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom:1px solid #ededed9d;
    border-top: 1px solid #ededed9d;
}
    
nav.navmenu ul li a:hover {
    background-color: rgb(204, 171, 121);
    color: rgb(255, 255, 255);
}

nav.navmenu ul {
    padding:0px;
    margin:0px;
    list-style:none;
    font-family: 'Enriqueta',serif;
}


/*
Contents
*/

forms {
    height: 50vh;
    grid-area: forms;  
    
    background: rgba(0, 0, 0, 0.562);
}

texto {
    margin-top: 15px;
    height: 15vh;
    grid-area: texto;  
    
    background: rgba(0, 0, 0, 0.562);
}

/*
Footer
*/

footer {
    margin-top: 60px;
    height: 10vh;
    grid-area: footer;

    align-self: flex-end;
    background: rgba(0, 0, 0, 0.349);
}

p.footer {
    position: absolute;
    margin-top: 2em;
    margin-left: 6em;
    
    color: #ffffffd0;
    text-align: left;
    font-size: 14.7px;
    font-family: 'Enriqueta',serif;
}

img.facebook {
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    margin-left: 1em;
    margin-top: 1.7em;
}

img.instagram {
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    margin-left: 3em;
    margin-top: 1.7em;
}


@media (min-width:1366px) {
    #checkbox_menu, nav.navmenu {
        display: none;
    }
}

@media (max-width:1366px) {
    
    #checkbox_menu, nav.navmenu {
        display: none;
    }
}

@media (max-width:1229px) {
    header #mainnav ul li a {
        padding: 0px 4vw;
    }
}

@media (max-width:948px) {
    header #mainnav ul li a {
        padding: 0px 3vw;
    }
}

@media (max-width:767px) {

    /*Menu Principal*/
    
    #mainnav nav {
        display: none;
    }

    .menu_toogle {
        position: absolute;
        height: 80px;
        width: 40px;
        margin-top: 120px;
        margin-right: 15vw;
        top: 15px;
        right: 0;
    }

    #checkbox_menu {
        opacity: 0;
    }

    label span {
        position: absolute;
        background-color: rgba(199, 199, 199, 0.815);
        height: 4px;
        width: 100%;
        margin: 6px auto;
        cursor: pointer;
        z-index: 10;
        border-radius: 30px;
        transition: 0.25s;
    }

    label span:nth-child(1){
        top:0px;
    }

    label span:nth-child(2){
        top:10px;
    }

    label span:nth-child(3){
        top:20px;
    }

    #checkbox_menu:checked + .menu_toogle {
        height: 80px;
        width: 40px;
        margin-top: 3vh;
        margin-right: 3vw;
        position: fixed;
        z-index: 10;
    }

    #checkbox_menu:checked + .menu_toogle label span:nth-child(1) {
        opacity: 0;
    }

    #checkbox_menu:checked + .menu_toogle label span:nth-child(2) {
        transform:rotate(-45deg);
    }

    #checkbox_menu:checked + .menu_toogle label span:nth-child(3) {
        transform:rotate(45deg);
        top: 10px;
    }

    nav.navmenu {
        padding-top: 16.6vh;
        position: absolute;
        top:0;
        left: -767px;
        width: 100vw;
        height: 100vh;
        background-color: #000000c7;
        transition: 0.25s ease-in-out;
        z-index: 9;
    }

    #checkbox_menu:checked ~ .menu nav.navmenu {
        transform: translateX(767px);
        position: fixed;
        display:block;
    }

}

@media (max-width:424px){

    p.footer {
        margin-top: 5vh;
        font-size: 12px;
    }

}

@media (max-width:360px) {

    .menu_toogle {
        margin-top: 20vh;
    }

    p.footer {
        margin-top: 3.8vh;
        margin-left: 23vw ;
        font-size: 12px;
    }
}